.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardGrid{
  background-color:aliceblue;
  display: grid;
 grid-template-rows:repeat(3, 1fr) ;
 grid-template-columns: repeat(3, 1fr);
}